.question-box {
  background: blue;
  width: 200px;
  height: 100px;
  position: absolute;
  border: solid 2px white;
  overflow:auto;
}

#questions {
  border: solid 2px red;
  height: 600px;
  width: 1415px;
  position: relative;
}

.game-over {
  background: white;
  border: solid 5px red;
  height: 350px;
  width: 350px;
  z-index: 100;
  position: absolute;
}
