* {
  font-family: sans-serif;
}

.question-box {
  background: blue;
  width: 300px;
  height: 200px;
  position: absolute;
  border: solid 2px white;
  overflow: hidden;
  border-radius: 10px;
  color:white;
  padding: 10px;
}

h2 {
  width: 90%;
  font-size: 1em;
  text-align: center;
  margin: auto;
}

#questions {
  border: solid 2px red;
  height: 600px;
  width: 1415px;
  position: relative;
  top: 120px;
}

.game-over {
  background: white;
  border: solid 5px red;
  height: 350px;
  width: 350px;
  z-index: 100;
  position: absolute;
  top: 100px;
  left: 532px;
  border-radius: 20px;
  text-align: center;
}

div.wrong {
  background: red;
}

ul {
  list-style: none;
  margin: auto;
  width: 80%;
  display: inline;
}

li {
  background: white;
  color: blue;
  margin: 2px;
  text-align: center;
  border-radius: 5px;
}

li:hover {
  background: green;
}

#game-data {
  display: none;
}

#navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 60px;
  background: #282a2d;
  padding: 1%;
  z-index: 150;
}

#start-game {
  display: block;
  float: right;
  background: #78ed94;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-right: 60px;
}

#start-game:hover {
  background: #54c46f;
}

.menu-item {
  display: block;
  float: left;
  margin: 10px;
}
